*{
    padding: 0;
    margin: 0;
    background-size:cover;
    
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 20px;
}
body{
    background:rgba(99, 99, 99,0.3);
}
.cards{
    padding: 1vw;
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}
.cards div{
    background-color: rgba(99, 99, 99,0.02);
}
.navbar{
    display: flex;
    width: 25vw;
    justify-content: space-around;
}
main h2{
    padding: 2em;
    display: grid;
    place-items: center;
    color: #fff;
    text-shadow: 2px 2px 2px black;
}
.navbar h4{
    border-left:2px solid #fff ;
    padding: 5px;
    cursor: pointer;
}